<a href="https://colab.research.google.com/github/nadiya-k-a/Students-Performance-Analysis/blob/main/Testing_of_hypothesis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Case study on Testing of Hypothesis**

### A company started to invest in digital marketing as a new way of their product promotions. For that they collected data and decided to carry out a study on it.

In [42]:
##Importing essential libraries

import pandas as pd
from scipy.stats import ttest_rel,chi2_contingency

In [43]:
##read data into python environmenet
df = pd.read_csv('/content/Sales-add.csv')

In [44]:
df.head()

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 5 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Month                           22 non-null     object
 1   Region                          22 non-null     object
 2   Manager                         22 non-null     object
 3   Sales_before_digital_add(in $)  22 non-null     int64
 4   Sales_After_digital_add(in $)   22 non-null     int64
dtypes: int64(2), object(3)
memory usage: 1008.0+ bytes


### **● The company wishes to clarify whether there is any increase in sales after stepping into digital marketing**

H0 = There is no increase in sales after stepping into digital marketing

H1 = There is an increase in sales after stepping into digital marketing

In [46]:
#perform t-test to compare sales before and after digital marketing
t_statistic,p_value = ttest_rel(df['Sales_before_digital_add(in $)'],df['Sales_After_digital_add(in $)'])
print('p value is', p_value)

alpha = 0.05   #significance level

p value is 6.336667004575778e-11

In [47]:
if p_value < alpha:
  print('There is a significant increase in sales after stepping into digital marketing') #Reject Null Hypothesis
else:
  print('There is no significant increase in sales after stepping into digital marketing') #Accept Null Hypothesis

There is a significant increase in sales after stepping into digital marketing

### **● The company needs to check whether there is any dependency between the features “Region” and “Manager"**

Ho:The features "region" and "manager" are independent.

Ha:The features "region" and "manager" are dependent.

In [48]:
alpha = 0.05

In [49]:
##Creating contingency table
contingency_table = pd.crosstab(df['Region'],df['Manager'])

In [50]:

##performing chi square test of independence
chi2,p,dof,expected = chi2_contingency(contingency_table)
contingency_table

Manager     Manager - A  Manager - B  Manager - C
Region
Region - A            4            3            3
Region - B            4            1            2
Region - C            1            3            1

In [51]:
##print results
print('Chi-square statitics', chi2)
print('p-value', p)
print('Degrees of freedom', dof)
print('Expected frequencies', expected)

Chi-square statitics 3.050566893424036
p-value 0.5493991051158094
Degrees of freedom 4
Expected frequencies [[4.09090909 3.18181818 2.72727273]
 [2.86363636 2.22727273 1.90909091]
 [2.04545455 1.59090909 1.36363636]]

In [52]:
if p < alpha:
    print("Reject Null Hypothesis")
else:
    print("Accept Null Hypothesis")

Accept Null Hypothesis

### **From the above result we can conclude that there is no dependency between the features 'Manager' and 'Region'**